langchain==0.2.5
langchain-community==0.2.5
langchain-text-splitters==0.2.1
streamlit==1.39.0
pypdf==4.2.0
chromadb==0.5.0
sentence-transformers==3.0.1
unstructured[local-inference]==0.14.8
pytesseract==0.3.10
Pillow==10.4.0
opencv-python-headless==4.9.0.80